<h1>Welcome <%= current_user.username %></h1>
<h2>Collections</h2>
<% current_user.collections.each do |collection| %>
  <a href="collections/<%= collection.slug %>"><%= collection.name %></a>
<% end %>
