<h2>Collections</h2>
<% current_user.collections.each do |collection| %>
  <%= collection.id %>.<a href="collections/<%= collection.slug %>"><%= collection.name %></a>
<% end %>
<br></br>
<a href="/collections/new">Create New Colleciton</a>
