<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fountain Pen Collection</title>
  </head>
  <body>
    <h1>Fount Pen Collection</h1>
    <% if logged_in? %>
      <div>
        <a href="/collections">Collecitons</a>
        <a href="/pens">Pens</a>
        <a href="/inks">Inks</a>
        <a href="/logout">Log Out</a>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
